* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
body {
  background: url('assets/drum-2187.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
	height: 100vh;
}
.buttons-back {
	width: 80%;
    height: 80%;
     background-color: hsla(0, 0%, 100%, .5);
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
	border-radius: 40%;
}
.key {
   background-color: darkgrey;
  border: 1rem;
	border-color: gray;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
	border-radius: 50%;
}
.keys {
  text-decoration: none;
  font-family: Arial, sans-serif;
   margin-bottom: 10px;
	align-items: center;
	vertical-align: center;
  
}
.key:hover {
  color: #FFFFFF;
  background-color: #000000;
  border-color: #000000;
  transition: background-color .3s ease-in-out;
}